<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bumineun" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bumineun" >
        <activity
            android:name=".Past_search_screen"
            android:exported="false" />
        <activity
            android:name=".Dictionary_search_screen"
            android:exported="false" />
        <activity
            android:name=".Crime_search_screen"
            android:exported="false" />
        <activity
            android:name=".Crime_category_voicefishing"
            android:exported="false" />
        <activity
            android:name=".Crime_category_sexcrime"
            android:exported="false" />
        <activity
            android:name=".Crime_category_gambling"
            android:exported="false" />
        <activity
            android:name=".Crime_category_drug"
            android:exported="false" />
        <activity
            android:name=".Search_empty"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Search_main"
            android:exported="false" />
        <activity
            android:name=".Past_main"
            android:exported="false" />
        <activity
            android:name=".Dictionary_screen"
            android:exported="false" />
        <activity
            android:name=".Crime_screen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>